<section id="photostack-1" class="photostack">
  <div>
    <figure>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11821783_1675417676004687_1276204464_n.jpg" alt="img01"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">comment goes here, @username</h2>
      </figcaption>
    </figure>

    <figure>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11821905_442368762626340_884944009_n.jpg" alt="img01"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">comment goes here, @username</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11262689_539129109571658_1959509140_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Lovely Green</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11910362_1634571563492900_1826355553_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Winds of Peace</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e15/11261267_856975827711960_367032809_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Shades of blue</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11356656_1624474041168106_1481623420_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Shades of blue</h2>
      </figcaption>
    </figure>

    <figure data-dummy>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11849891_832009163534866_1232223236_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Lightness</h2>
      </figcaption>
    </figure>

    <figure>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11821783_1675417676004687_1276204464_n.jpg" alt="img01"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">comment goes here, @username</h2>
      </figcaption>
    </figure>

    <figure>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11821905_442368762626340_884944009_n.jpg" alt="img01"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">comment goes here, @username</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11262689_539129109571658_1959509140_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Lovely Green</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11910362_1634571563492900_1826355553_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Winds of Peace</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e15/11261267_856975827711960_367032809_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Shades of blue</h2>
      </figcaption>
    </figure>

    <figure >
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/11356656_1624474041168106_1481623420_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Shades of blue</h2>
      </figcaption>
    </figure>

    <figure data-dummy>
      <a href="#" class="photostack-img">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11849891_832009163534866_1232223236_n.jpg" alt="img07"/>
      </a>
      <figcaption>
        <h2 class="photostack-title">Lightness</h2>
      </figcaption>
    </figure>
  </div>
</section>
